<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav float-right">
      <li class="nav-item  dropdown">
      <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Select Language
      </a> -->
            <label> Select Language</label>&nbsp;
      <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="setLang('en')">English</a>
        <a class="dropdown-item" (click)="setLang('fr')">French</a>
      </div> -->
      </li>
      <!-- <li class="nav-item  dropdown">
        <img src="../assets/img/profile_default.jpg"  class="img-rounded" width="30" height="30"> 
      <a style="float: right;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       &nbsp; Hello.<b> {{usrName}}</b></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Role: HR</a>
          <a class="dropdown-item" href="#">Action</a>
        </div>
      
       
      </li> -->
      <select (change)="onLanguageChange($event)">
        <option value="en" >        
               English</option>
        <option value="fr">        
                  French</option>
      </select>
    </ul>
  </div>
</nav>
<!-- <div>
  <button (click)="setLang('fr')">Language: FR</button>
  <button (click)="setLang('en')">Language: EN</button>
</div> -->
<div class="login">
<main>
  <section>
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-md-7">
          <div class="opaque-bck mb-8 box-shadow">
            <h4>{{ 'Registration' | translate }}</h4>
            <p>
              {{'RegistrationDet' | translate}}
            </p>
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <h6><a href="#">{{ 'FAQs' | translate }}</a> </h6>
              </div>
              <div class="col-md-2 col-sm-2">
                <h6><a href="#">{{ 'Helpline' | translate }}</a> </h6>
              </div>
              <div class="col-md-2 col-sm-2">
                <h6><a href="#"> {{ 'ContactUs' | translate }}</a> </h6>
              </div>
              <div class="col-md-3 col-sm-3">
                <h6><a href="#">{{ 'ClaimForms' | translate }}</a> </h6>
              </div>
              <div class="col-md-3 col-sm-3">
                <h6><a href="#">{{ 'DownloadForms' | translate }}</a> </h6>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="solid-bck box-shadow">
          <h5 class="text-center">{{ 'Welcome' | translate}}</h5>
          <div>{{'iamaan' | translate}}</div>
											<div class="form-group">
											<div class="form-check-inline">
											
											  <label class="form-check-label" for="radio1">
												<input type="radio" class="form-check-input" name="optradio" value="Employee" [(ngModel)]="user.employeeType" checked>{{ 'Employee' | translate}}
											  </label>
											</div>
											<div class="form-check-inline">
											  <label class="form-check-label" for="radio2">
												<input type="radio" class="form-check-input" name="optradio" value="HR" [(ngModel)]="user.employeeType">{{ 'HR' | translate }}
											  </label>
											</div>
											<div class="form-check-inline">
											  <label class="form-check-label">
												<input type="radio" class="form-check-input"  name="optradio" value="MBB" [(ngModel)]="user.employeeType">{{ 'MBB' | translate }}
											  </label>
											</div>
											</div>

          <!-- <ngb-tabset>
            <ngb-tab title="Login">
              <ng-template ngbTabContent>
                  <div class="panel-body">

                  <form [formGroup]="loginForm" (ngSubmit)="login(user)">
                <div class="form-group">
                  <input type="text"[(ngModel)]="user.email" placeholder="Email Address" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="password" formControlName="password" placeholder="password"  [(ngModel)]="user.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>

              <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                    <div class="left-panel">
                      <input type="submit" name="login-submit" class="form-control btn btn-login" value="Log In">
                    </div>
                      <div class="text-right">
                        <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                    <div *ngIf="isUserValid()">
                        <div  class="invalid-feedback">User name or password incorrect</div>
                    </div>
                    <div *ngIf="isUserValid()">
                        <ngb-alert [dismissible]="false">
                            <strong>Error!</strong> User name or password incorrect
                          </ngb-alert>
                    </div>
                  </div>
                </div>

              </form>
              </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Register</ng-template>
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>
            
          </ngb-tabset> -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">{{ 'Login' | translate }}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">{{ 'Register' | translate }}</a>
            </li>
            
          </ul>
          <!--tab panes-->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane panel-login in active" id="profile">
              <div class="panel-body">
                  <form [formGroup]="loginForm" (ngSubmit)="login(user)">
                      <div class="form-group">
                        <input type="text"[(ngModel)]="user.email" placeholder="{{ 'EmailAddress' | translate }}" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">{{ 'EmailReqValidation' | translate}}</div>
                            <div *ngIf="f.email.errors.email">{{ 'EmailValidValidation' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" placeholder="{{ 'password' | translate }}"  [(ngModel)]="user.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">{{'passRequired' | translate}}</div>
                            <div *ngIf="f.password.errors.minlength">{{ 'PassLengthValidation' | translate }}</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                        <label for="remember"> {{ 'RememberMe' | translate}}</label>
                      </div>
      
                    <div class="form-group">
                        <div class="row">
                          <div class="col-lg-12">
                          <div class="left-panel">
                            <input type="submit" name="login-submit" class="form-control btn btn-login" value="{{ 'Login' | translate }}">
                          </div>
                            <div class="text-right">
                              <a href="#" tabindex="5" class="forgot-password"> {{ 'ForgotPassword' | translate}}?</a>
                            </div>
                          </div>
                          <div *ngIf="isUserValid()">
                              <div  class="invalid-feedback">{{'InCorrectCredential'| translate}}</div>
                          </div>
                          <div *ngIf="isUserValid()">
                              <ngb-alert [dismissible]="false">
                                  <strong>Error!</strong> {{'InCorrectCredential'| translate}}
                                </ngb-alert>
                          </div>
                        </div>
                      </div>
      
                    </form>
              </div>
            </div>
          
          <div role="tabpanel" class="panel-login tab-pane fade" id="buzz">
              <div class="panel-body">
                <div class="container">
                  This registration tab. It will be used for user registration.
                  User will have to fill in only the required information.
                  This page is under construction.

                  This registration tab. It will be used for user registration.
                  User will have to fill in only the required information.
                  
                </div>
              </div>
           </div>
           </div>


</div>
</div>
      </div>
      </div>
      </section>
</main>
</div>
