

  <div class="modal-dialog modal-dialog-centered" style="height:50%">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngIf="isEdit" class="col-4 mx-auto">
          <img class="mx-auto d-block"src="../../../assets/img/edit-icon.png"/> 
          <b class="text-center">{{ 'EditMember'| translate }}</b>
        </div>
        <div *ngIf="!isEdit" class="col-4 mx-auto">
          <img class="mx-auto d-block"src="../../../assets/img/add-icon.png"/> 
          <b class="text-center">{{ 'AddMember' | translate }}</b>
        </div>
      </div>
      <div class="modal-body">
          
      <div class="row">
        <div class="col-md-12">
            <div  class="form-group">
                <label>{{ 'Name' | translate }}</label>
                  <input type="text"  [(ngModel)] = "dep.name" class="form-control"/>
            </div>
        </div>
       </div>
       <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <!-- <label for="exampleInputPassword1">DOB</label>
              <div  class="input-group" >
                <input id="dateOfBirth"  class="form-control"  [(ngModel)] = "dep.dob" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
              </div> -->
              <!-- <input type="date" [(ngModel)] = "dep.dob" class="form-control"/> -->
              <label for="exampleInputPassword1">{{ 'DOB' | translate }}</label>
              <div class="input-group">
                  <input
                  class="form-control"
                  #dpFull="bsDatepicker"
                  bsDatepicker
                  [(ngModel)] = "dep.dob"
                  >
                  <span class="glyphicon glyphicon-calendar"></span>
                  <button  class="fa fa-calendar" (click)="dpFull.toggle()" [attr.aria-expanded]="dpFull.isOpen"></button>
                 
              </div>
            </div>
            <div class="form-group">
            <label>{{ 'Gender' | translate }}</label>
              <select type="text"  [(ngModel)] = "dep.gender" class="form-control">
              <option value="M">Male</option>
              <option value="F">Female</option>
              </select>
            </div>
          </div>
        
          <div class="col-md-6">
           <div class="form-group">
            <label >{{ 'Age' | translate }}</label>
              <input type="text"   [(ngModel)] = "dep.age" class="form-control"/>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">{{ 'Relation' | translate }}</label>
              <input type="text"   [(ngModel)] = "dep.relation" class="form-control"/>
            </div>
          </div>
       </div>
       <div class="row">
        
          <!-- <div class="col-xs-12 col-md-5 col-lg-4 form-group">
            <input
              class="form-control" [(ngModel)] = "dep.dob"
              type="text"
              bsDatepicker>
              
          </div> -->
          <!-- <div class="col-xs-12 col-12 col-md-3 form-group">
            <button class="btn btn-success" (click)="dpFull.toggle()" [attr.aria-expanded]="dpFull.isOpen">Date Picker</button>
          </div> -->
          <div class="col-xs-12 col-md-5 col-lg-4 form-group">
            <!-- <input
              class="form-control"
              #dpFull="bsDatepicker"
              bsDatepicker
              [(ngModel)] = "dep.dob"> -->
              
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
              <!-- <button class="btn btn-success" (click)="dpFull.toggle()" [attr.aria-expanded]="dpFull.isOpen">Date Picker</button> -->
            </div>
          <!-- <div class="col-xs-12 col-md-5 col-lg-4 form-group">
            <input
              class="form-control"
              #dpFull="bsDatepicker"
              bsDatepicker
              formControlName="myDateFull"
              >
          </div> -->
       </div>
      
       <div class="modal-footer">
        <button type="button" class="btn btn-login"  (click)="save(dep,isEdit)">{{ 'Save' | translate }}</button>
        <button type="button" class="btn btn-login btn-cancel" (click)="activeModal.close('Close click')">{{ 'Cancel' | translate }}</button>
      </div> 

    </div>
      <!-- <div class="col-md-6">
        <div class="form-group">
         <label >Age</label>
           <input type="text" [(ngModel)] = "dep.age" class="form-control"/>
         </div>
         <div class="form-group">
         <label>Name</label>
           <input type="text" [(ngModel)] = "dep.name" class="form-control"/>
         </div>
       </div> -->
    </div>
    </div>