<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center" class="row">
  <h1 class="col-md-6">
    Welcome to {{ title }}!
  </h1>

    

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Sample alert.
  </ngb-alert>
</p>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav float-right">
      <li class="nav-item  dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Eng
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
      </li>
      <li class="nav-item  dropdown">
        <img src="../assets/img/profile_default.jpg"  class="img-rounded" width="30" height="30"> 
      <a style="float: right;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       &nbsp; Hello.<b> {{usrName}}</b></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Role: HR</a>
          <a class="dropdown-item" href="#">Action</a>
        </div>
      
       
      </li>

    </ul>
  </div>
</nav> -->

<!-- <div>
  <button (click)="setLang('fr')">Language: FR</button>
  <button (click)="setLang('en')">Language: EN</button>
</div> -->
<router-outlet></router-outlet>


	<!-- Footer -->
	
	<footer class="page-footer font-small special-color-dark">
		<div  class="container-fluid">
			<div  class="row footer-top py-3">
				<div class="col-md-8 col-sm-8">
					<i class="fa fa-twitter  fa-twitter-big" aria-hidden="true"></i>{{ 'Footertext' | translate }}

				</div>
				<div class="col-md-4 col-sm-4 text-right social-icons">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</div>
			</div>
			 
			<div class="footer-copyright ">
			  <div class="row footer-down">
					<div class="col-md-3 col-sm-3">
						<a class="navbar-footer-brand" href="#"></a>
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="row footer-nav float-right">
							<div class="navbar nav-footer">
                  <div class="navbar nav-footer">
                      <h6><i class="fa fa-footer-icon"></i><a href="#">Marsh</a> </h6>
                      <h6><i class="fa fa-footer-icon"></i><a href="#">Guy Carpenter</a> </h6>
                      <h6><i class="fa fa-footer-icon"></i><a href="#">Mercer</a> </h6>
                      <h6><i class="fa fa-footer-icon"></i><a href="#">Oliver Wayman</a> </h6>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


