<!-- <div class="row">
<div class="panel-group">
    <label>  Policy Name </label>
    <div> {{policy.policyName}}</div>
</div>
<div class="panel-group">
    <label> Insurer </label>
    <div> {{policy.insurer}}</div>
</div>
<div class="panel-group">
<label> Net Premium </label>
  <div> {{policy.netPremium}}</div>
</div>
</div>
<div class="row">
<div class="panel-group">
    <label>  Policy Type </label>
    <div> {{policy.policyType}}</div>
  </div>
  <div class="panel-group">
      <label> Insured </label>
      <div> {{policy.insured}}</div>
    </div>
    <div class="panel-group">
        <label> Taxes </label>
      <div> {{policy.taxes}}</div>
    </div>
    <div class="panel-group">
        <label>  Start Date </label>
        <div> {{policy.startDate}}</div>
    </div>
    <div class="panel-group">
        <label>  Dependents </label>
        <div> {{policy.dependents}}</div>
    </div>
    <div class="panel-group">
        <label> Gross Premium</label>
        <div> {{policy.grossPremium}}</div>
      </div>
      </div> -->
<!-- <div class="col-md-3">
    <div class="panel-group">
        <label>  Policy Name </label>
        <div> {{policy.policyName}}</div>
    </div>
    <div class="panel-group">
        <label> Insurer </label>
        <div> {{policy.insurer}}</div>
    </div>
    <div class="panel-group">
    <label> Net Premium </label>
      <div> {{policy.netPremium}}</div>
    </div>
  </div> -->


  <!-- <div class="col-md-3">
    <div class="panel-group">
      <label>  Policy Type </label>
      <div> {{policy.policyType}}</div>
    </div>
    <div class="panel-group">
        <label> Insured </label>
        <div> {{policy.insured}}</div>
      </div>
      <div class="panel-group">
          <label> Taxes </label>
        <div> {{policy.taxes}}</div>
      </div>
    
  </div>
  <div class="col-md-3">
    <div class="panel-group">
        <label>  Start Date </label>
        <div> {{policy.startDate}}</div>
    </div>
    <div class="panel-group">
        <label>  Dependents </label>
        <div> {{policy.dependents}}</div>
    </div>
    <div class="panel-group">
        <label> Gross Premium</label>
        <div> {{policy.grossPremium}}</div>
    </div> -->
<!-- <div class="row col-md-9 col-xl-10 col-lg-9 col-sm-8 tab-content" id="Details">
    <div class="col-md-3">
      <div class="panel-group">
          <label>  Policy Name </label>
          <div> {{policy.policyName}}</div>
      </div>
      <div class="panel-group">
          <label> Insurer </label>
          <div> {{policy.insurer}}</div>
      </div>
      <div class="panel-group"></div>
      <label> Net Premium </label>
        <div> {{policy.netPremium}}</div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-group">
        <label>  Policy Type </label>
        <div> {{policy.policyType}}</div>
      </div>
      <div class="panel-group">
          <label> Insured </label>
          <div> {{policy.insured}}</div>
        </div>
        <div class="panel-group">
            <label> Taxes </label>
          <div> {{policy.taxes}}</div>
        </div>
      
    </div>
    <div class="col-md-3">
      <div class="panel-group">
          <label>  Start Date </label>
          <div> {{policy.startDate}}</div>
      </div>
      <div class="panel-group">
          <label>  Dependents </label>
          <div> {{policy.dependents}}</div>
      </div>
      <div class="panel-group">
          <label> Gross Premium</label>
          <div> {{policy.grossPremium}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group">
        <label>Policy Name</label>
        <div> Group Health</div>
      </div>
    </div> -->
     <!-- <app-policy [policyId]= policyId></app-policy> -->
  
<!-- <div class="row">
    <div class="col-md-3">
      <div class="panel-group">
      <label> Policy Name </label>
      <div> {{policy.policyName}}</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-group">
          <label>  Policy Type </label>
          <div> {{policy.policyType}}</div>
        </div>
      </div>
        <div class="col-md-3 ">
          <div class="panel-group">
            <label>  Start Date </label>
            <div> {{policy.startDate}}</div>
          </div>
          </div>
          <div class="col-md-3 ">
            <div class="panel-group">
              <label> End Date </label>
                <div> {{policy.endDate}}</div>
            </div>
          </div>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-3">
        <div class="row"> <b> Insurer </b></div>
        <div class="row"> {{policy.insurer}}</div>
      </div>
      <div class="col-md-3">
          <div class="row"> <b> Insured </b></div>
          <div class="row"> {{policy.insured}}</div>
        </div>
        <div class="col-md-3">
            <div class="row"> <b> Dependents </b></div>
            <div class="row"> {{policy.dependents}}</div>
          </div>
          <div class="col-md-3">
            <div class="row"> <b> Sum Insured </b></div>
            <div class="row"> {{policy.sumInsured}}</div>
          </div>
</div>
<div class="row">

  </div>
<div class="row">
    <div class="col-md-3">
        <div class="row"> <b> Net Premium </b></div>
        <div class="row"> {{policy.netPremium}}</div>
      </div>
      <div class="col-md-3">
          <div class="row"> <b> Taxes </b></div>
          <div class="row"> {{policy.taxes}}</div>
        </div>
        <div class="col-md-3">
            <div class="row"> <b> Gross Premium </b></div>
            <div class="row"> {{policy.grossPremium}}</div>
          </div>
          <div class="col-md-3">
              
            </div>
</div> -->
<!-- <div class="row col-md-9 col-xl-10 col-lg-9 col-sm-8 ">
    <div class="col-md-3">
        <div class="panel-group">
        <label> Policy Name </label>
        <div> {{policy.policyName}}</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel-group">
            <label>  Policy Type </label>
            <div> {{policy.policyType}}</div>
          </div>
        </div>
          <div class="col-md-3 ">
            <div class="panel-group">
              <label>  Start Date </label>
              <div> {{policy.startDate}}</div>
            </div>
            </div>
            <div class="col-md-3 ">
              <div class="panel-group">
                <label> End Date </label>
                  <div> {{policy.endDate}}</div>
              </div>
            </div>
      </div> -->
      <!-- <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
          <div class="panel-group">
          <label> Policy Name </label>
          <div> {{policy.policyName}}</div>
          </div>
          <div class="panel-group">
              <label> Insurer </label>
              <div> {{policy.insurer}}</div>
          </div>
          <div class="panel-group">
                <label> Net Premium </label>
                <div> {{policy.netPremium}}</div>
          </div>
        </div>
          <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
            <div class="panel-group">
              <label>  Policy Type </label>
              <div> {{policy.policyType}}</div>
            </div>
            <div class="panel-group">
                <label> Insured </label>
                <div> {{policy.insured}}</div>
              </div>
              <div class="panel-group">
                  <label> Taxes </label>
                <div> {{policy.taxes}}</div>
              </div>
          </div>
            <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
              <div class="panel-group">
                <label>  Start Date </label>
                <div> {{policy.startDate}}</div>
              </div>
              <div class="panel-group">
                  <label>  Dependents </label>
                  <div> {{policy.dependents}}</div>
              </div>
              <div class="panel-group">
                  <label> Gross Premium</label>
                  <div> {{policy.grossPremium}}</div>
                </div>
              </div>
              <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
                <div class="panel-group">
                  <label> End Date </label>
                    <div> {{policy.endDate}}</div>
                </div>
                <div class="panel-group">
                    <label> Sum Insured </label>
                      <div> {{policy.sumInsured}}</div>
                  </div>

               
              </div> -->

              <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
                  <div class="panel-group">
                  <label> Policy Name </label>
                  <div> {{policy.policyName}}</div>
                  </div>
                  <div class="panel-group">
                      <label> Insurer </label>
                      <div> {{policy.insurer}}</div>
                  </div>
                  <div class="panel-group">
                        <label> Net Premium </label>
                        <div> {{policy.netPremium}}</div>
                  </div>
                </div>
                  <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
                    <div class="panel-group">
                      <label>  Policy Type </label>
                      <div> {{policy.policyType}}</div>
                    </div>
                    <div class="panel-group">
                        <label> Insured </label>
                        <div> {{policy.insured}}</div>
                      </div>
                      <div class="panel-group">
                          <label> Taxes </label>
                        <div> {{policy.taxes}}</div>
                      </div>
                  </div>
                    <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
                      <div class="panel-group">
                        <label>  Start Date </label>
                        <div> {{policy.startDate}}</div>
                      </div>
                      <div class="panel-group">
                          <label>  Dependents </label>
                          <div> {{policy.dependents}}</div>
                      </div>
                      <div class="panel-group">
                          <label> Gross Premium</label>
                          <div> {{policy.grossPremium}}</div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3">
                        <div class="panel-group">
                          <label> End Date </label>
                            <div> {{policy.endDate}}</div>
                        </div>
                        <div class="panel-group">
                            <label> Sum Insured </label>
                              <div> {{policy.sumInsured}}</div>
                          </div>

                          <div class="panel-group">
                              <label> Some Insured </label>
                                <div> {{policy.sumInsured}}</div>
                            </div>
                      </div> 